# **1. Perkenalan Dataset**

Tahap pertama, Anda harus mencari dan menggunakan dataset dengan ketentuan sebagai berikut:

1. **Sumber Dataset**:  
   Dataset dapat diperoleh dari berbagai sumber, seperti public repositories (*Kaggle*, *UCI ML Repository*, *Open Data*) atau data primer yang Anda kumpulkan sendiri.

# **2. Import Library**

Pada tahap ini, Anda perlu mengimpor beberapa pustaka (library) Python yang dibutuhkan untuk analisis data dan pembangunan model machine learning atau deep learning.

In [3]:
import pandas as pd

# **3. Memuat Dataset**

Pada tahap ini, Anda perlu memuat dataset ke dalam notebook. Jika dataset dalam format CSV, Anda bisa menggunakan pustaka pandas untuk membacanya. Pastikan untuk mengecek beberapa baris awal dataset untuk memahami strukturnya dan memastikan data telah dimuat dengan benar.

Jika dataset berada di Google Drive, pastikan Anda menghubungkan Google Drive ke Colab terlebih dahulu. Setelah dataset berhasil dimuat, langkah berikutnya adalah memeriksa kesesuaian data dan siap untuk dianalisis lebih lanjut.

Jika dataset berupa unstructured data, silakan sesuaikan dengan format seperti kelas Machine Learning Pengembangan atau Machine Learning Terapan

In [4]:
df = pd.read_csv('train_df.csv')
df

,customer_number,usia,pekerjaan,status_perkawinan,pendidikan,gagal_bayar_sebelumnya,pinjaman_rumah,pinjaman_pribadi,jenis_kontak,bulan_kontak_terakhir,...,hari_sejak_kontak_sebelumnya,jumlah_kontak_sebelumnya,hasil_kampanye_sebelumnya,tingkat_variasi_pekerjaan,indeks_harga_konsumen,indeks_kepercayaan_konsumen,suku_bunga_euribor_3bln,jumlah_pekerja,pulau,berlangganan_deposito
0,531036,63,sosial media specialis,menikah,Pendidikan Tinggi,no,yes,no,cellular,jul,...,999,0,nonexistent,-1.7,94.215,-40.3,0.885,4991.6,Papua,1
1,999241,43,teknisi,menikah,Pendidikan Tinggi,no,yes,no,cellular,nov,...,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,Sulawesi,0
2,995002,29,sosial media specialis,lajang,Pendidikan Tinggi,no,yes,yes,cellular,jul,...,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,Papua,0
3,932750,40,pekerja kasar,menikah,SMA,no,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,Sumatera,1
4,684699,40,sosial media specialis,lajang,Pendidikan Tinggi,no,no,no,cellular,aug,...,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,Bali,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22911,680377,32,teknisi,menikah,Diploma,no,yes,no,cellular,aug,...,999,0,nonexistent,1.4,93.444,-36.1,4.967,5228.1,Kalimantan,0
22912,505429,30,mahasiswa,lajang,Diploma,no,no,no,telephone,sep,...,999,0,nonexistent,-1.1,94.199,-37.5,0.880,4963.6,Bali,0
22913,308952,29,manajer,lajang,SMA,no,yes,no,cellular,jul,...,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,NTT,0
22914,865813,52,entrepreneur,menikah,Tidak Tamat SD,unknown,yes,no,telephone,jun,...,999,0,nonexistent,1.4,94.465,-41.8,4.960,5228.1,NTB,0
22915,977067,49,pekerja kasar,menikah,Tidak Tamat SD,unknown,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,Papua,0

# **4. Exploratory Data Analysis (EDA)**

Pada tahap ini, Anda akan melakukan **Exploratory Data Analysis (EDA)** untuk memahami karakteristik dataset.

Tujuan dari EDA adalah untuk memperoleh wawasan awal yang mendalam mengenai data dan menentukan langkah selanjutnya dalam analisis atau pemodelan.

In [5]:
# cek jumlah baris dan kolom

print("Jumlah baris:", df.shape[0])
print("Jumlah kolom:", df.shape[1])
# cek missing value
df.isnull().sum()
df["berlangganan_deposito"].value_counts()

Jumlah baris: 22916
Jumlah kolom: 22

berlangganan_deposito
0    20302
1     2614
Name: count, dtype: int64

# **5. Data Preprocessing**

Pada tahap ini, data preprocessing adalah langkah penting untuk memastikan kualitas data sebelum digunakan dalam model machine learning.

Jika Anda menggunakan data teks, data mentah sering kali mengandung nilai kosong, duplikasi, atau rentang nilai yang tidak konsisten, yang dapat memengaruhi kinerja model. Oleh karena itu, proses ini bertujuan untuk membersihkan dan mempersiapkan data agar analisis berjalan optimal.

Berikut adalah tahapan-tahapan yang bisa dilakukan, tetapi **tidak terbatas** pada:
1. Menghapus atau Menangani Data Kosong (Missing Values)
2. Menghapus Data Duplikat
3. Normalisasi atau Standarisasi Fitur
4. Deteksi dan Penanganan Outlier
5. Encoding Data Kategorikal
6. Binning (Pengelompokan Data)

Cukup sesuaikan dengan karakteristik data yang kamu gunakan yah. Khususnya ketika kami menggunakan data tidak terstruktur.

In [11]:
#Menangani Missing Values
df.replace("unknown", pd.NA, inplace=True)
df = df.dropna()
#Menghapus Duplikat
print("Duplikat:", df.duplicated().sum())
df = df.drop_duplicates()

# Identify initial numerical and categorical columns before any encoding
initial_numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
initial_categorical_cols = df.select_dtypes(include="object").columns.tolist()

# Exclude the target variable and identifier from numerical processing
if 'berlangganan_deposito' in initial_numerical_cols:
    initial_numerical_cols.remove('berlangganan_deposito')
if 'customer_number' in initial_numerical_cols:
    initial_numerical_cols.remove('customer_number')

# Binning 'usia' first, using original values, before any scaling
# Store original 'usia' for binning to ensure bins align with unscaled ranges
original_usia_for_binning = df['usia']
df["usia_bin"] = pd.cut(
    original_usia_for_binning,
    bins=[0, 25, 40, 60, 100],
    labels=["muda", "dewasa", "paruh_baya", "lansia"]
)

# Normalisasi / Standarisasi (only for continuous numerical columns)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df[initial_numerical_cols] = scaler.fit_transform(df[initial_numerical_cols])

# Outlier Handling (IQR) (only for continuous numerical columns)
for col in initial_numerical_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    # Use iloc[0] to safely extract scalar, robust to Series of unexpected length
    if isinstance(Q1, pd.Series):
        Q1 = Q1.iloc[0]
    if isinstance(Q3, pd.Series):
        Q3 = Q3.iloc[0]
    if isinstance(IQR, pd.Series):
        IQR = IQR.iloc[0]

    df[col] = df[col].clip(Q1 - 1.5 * IQR, Q3 + 1.5 * IQR)

# Encoding Categorical variables (original ones and newly created 'usia_bin')
df = pd.get_dummies(df, columns=initial_categorical_cols + ["usia_bin"], drop_first=True)

# Drop 'customer_number' if it's still present and not needed for modeling
if 'customer_number' in df.columns:
    df = df.drop('customer_number', axis=1)

Duplikat: 1689